.Company .container {
  gap: 10px;
}
@media (max-width: 769px) {
  .Company .container {
    gap: 30px;
  }
}
.Company .container .right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.Company .container .right span {
  display: block;
}

@media (max-width: 769px) {
  .Company .container .right span img {
    width: 100%;
  }
}
