.News .container {
  padding: 55px;
  margin: 10px 50px;
  background-color: #f9f3f5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.AllSections .container {
  padding: 55px;
  margin: 10px 50px;
  background-color: #f9f3f5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 992px) {
  .News .container {
    flex-direction: column;
    padding: 55px 10px;
    margin: 10px 0px;
    align-items: center;
  }
  .AllSections .container {
    flex-direction: column;
    padding: 55px 10px;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
  }
}

.News .container .left {
  flex-basis: 50%;
  text-align: center;
}
.AllSections .container .left {
  flex-basis: 50%;
  text-align: center;
}

.News .container .left h2 {
  font-size: 30px;
  text-align: center;
}
.AllSections .container .left h2 {
  font-size: 30px;
  text-align: center;
}

.News .container .left p {
  max-width: 445px;
  margin: 15px auto 0;
  color: #c4c4c4;
}
.AllSections .container .left p {
  max-width: 445px;
  margin: 15px auto 0;
  color: #c4c4c4;
}

.News .container .right {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}
.AllSections .container .right {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.News .container .right div {
  margin: 20px;
  padding: 10px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.AllSections .container .right div {
  margin: 20px;
  padding: 10px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.News .container .right div input {
  border: 0;
  padding: 7px 10px;
  width: 100%;
}

.AllSections .container .right div input {
  border: 0;
  padding: 7px 10px;
  width: 100%;
}
.News .container .right div input:focus {
  outline: none;
}
.AllSections .container .right div input:focus {
  outline: none;
}

.News .container .right div button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 0;
  padding: 7px 0px;
  font-weight: bold;
  cursor: pointer;
  width: 255px;
}
.AllSections .container .right div button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 0;
  padding: 7px 0px;
  font-weight: bold;
  cursor: pointer;
  width: 255px;
}
.News .container .right div button span {
  margin: 5px;
  font-size: 0px;
}
.AllSections .container .right div button span {
  margin: 5px;
  font-size: 0px;
}
