.pf {
  padding: 50px 0;
}
.pf .container .top {
  display: flex;
  align-items: center;
}
@media (max-width: 776px) {
  .pf .container .top {
    justify-content: center;
  }
}
.pf .container .top button {
  border: 0;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 776px) {
  .pf .container .top button {
    margin-left: 5px;
  }
}

.pf .container .top button:first-of-type {
  background-color: #f9f3f5;
  font-weight: bold;
}
.pf .container .top button:last-of-type {
  background-color: #fffafa;
  box-shadow: 0px 0px 5px #2f2f2217;
  margin: 0 10px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pf .container .top h2 {
  margin-left: 10px;
}
@media (max-width: 776px) {
  .pf .container .top h2 {
    order: -1;
  }
}
.pf .container .bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 776px) {
  .pf .container .bottom {
    align-items: center;
    justify-content: center;
  }
}
.pf .container .bottom img {
  height: 380px;
  /* width: fit-content; */
  width: 300px;
}
