.Social .container .right {
  justify-content: space-between;
  gap: 20px;
}
.Social .container .right .Brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 992px) {
  .Social .container .right {
    margin-top: 20px;
  }
}
