.footer {
  margin-top: 50px;
  text-align: center;
  color: #5367fe;
  text-transform: capitalize;
  box-shadow: 69px 0px 51px #5367fe24;
  padding: 10px;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer .container span {
  color: black;
  font-weight: bold;
}
